*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0057b8,#ffffff);
}

.container{
    width:100%;
    max-width:1000px;
    height:600px;
    display:flex;
    border-radius:20px;
    overflow:unset;
    box-shadow:0 10px 30px rgba(0,0,0,.2);
}

.left{
   flex:1;

    background-image:url("imagem_melhorada_1200x2000.jpg");
    background-size:cover;
    background-position:center;

    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
    text-align:center;
}
.left h1{
    font-size:3rem;
    margin-bottom:20px;
}

.left p{
    font-size:1.1rem;
    line-height:1.6;
    max-width:350px;
}

.right{
    flex:2;
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.login-box{
    width:100%;
    max-width:380px;
}

.login-box h2{
    color:#0057b8;
    text-align:center;
    margin-bottom:10px;
}

.login-box p{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#333;
}

.input-group input{
    width:100%;
    padding:14px;
    border:2px solid #ddd;
    border-radius:10px;
    outline:none;
    transition:0.3s;
}

.input-group input:focus{
    border-color:#0057b8;
}

.options{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
    font-size:14px;
}

.options a{
    color:#d62828;
    text-decoration:none;
    font-weight:bold;
}

.btn-login{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#0057b8;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn-login:hover{
    background:#003c82;
}

.separator{
    text-align:center;
    margin:20px 0;
    color:#888;
}

.social{
    display:flex;
    gap:10px;
}

.social button{
    flex:1;
    padding:12px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
}

.google{
    background:#f4c430;
    color:#222;
}

.facebook{
    background:#d62828;
    color:white;
}

.register{
    margin-top:25px;
    text-align:center;
}

.register a{
    color:#0057b8;
    text-decoration:none;
    font-weight:bold;
}

@media (max-width: 800px){

    .container{
        flex-direction:column;
        height:auto;
        margin:20px;
    }

    .left{
        padding:30px;
    }

    .left h1{
        font-size:2rem;
    }
}